---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<header class="py-6 px-10 flex items-center fixed top-0 w-full justify-between">
			<div>
				<img src="../../static/img/logo.svg" alt="logo" width='32px'>
			</div>

			<nav>
				<ul>
					<li><a href="#">Model S</a></li>
					<li><a href="#">Model 3</a></li>
					<li><a href="#">Model X</a></li>
					<li><a href="#">Model Y</a></li>
					<li><a href="#">POWERWALL</a></li>
					<li><a href="#">CARGA</a></li>
				</ul>
			</nav>
			
			<nav>
				<ul>
					<li><a href="#">Soporte</a></li>
					<li><a href="#">Tienda</a></li>
					<li><a href="#">Cuenta</a></li>
					<li><a href="#">Menu</a></li>

				</ul>
			</nav>

		</header>		
	</main>
</Layout>

<style>

</style>
